<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAH6xK2p9AhH3Jd_ksS4jGSqJtzr6mUdcg</string>
	<key>GCM_SENDER_ID</key>
	<string>558527837591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yougossemillionaire.yougossemillionaire</string>
	<key>PROJECT_ID</key>
	<string>yougosse-millionaire</string>
	<key>STORAGE_BUCKET</key>
	<string>yougosse-millionaire.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558527837591:ios:ac1d37e6a31b00f62740d2</string>
</dict>
</plist>